<div class="">
  <nav class="" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Login</li>
    </ol>
  </nav>
  <div class="">
    <div class="">
      LOG IN
    </div>
    <div class="form-group">
      <%= form_tag login_path do %>
        <div class="">
          <%= text_field_tag :username, "", class:"form-control", "aria-describedby": "username field", placeholder: "Enter Username" %>
        </div>
        <div class="">
          <%= password_field_tag :password, "", class: "form-control", "aria-describedby": "password field", placeholder: "Password" %>
        </div>
        <div class="">
          <%= submit_tag "Log In", class: "btn btn-primary" %>
        </div>
      <% end %>
      <div class="">
        <p>
          Don't have an account? <%= link_to "Register", new_user_path %> here
        </p>
      </div>
    </div>
  </div>
</div>
