<div class="result-title mobile-optimized">
  <p>Most Viewed Articles from the last <%= convert_days(params[:days]) %></p>
</div>
<table class="result-table">
  <% @articles.each_with_index do |article| %>
    <tr class="">
      <td><%= image_tag article.photo %></td>
      <td><%= link_to article.title, article.url, target: "_blank" %></td>
      <td class="mobile-optimized abstract"><%= article.abstract %></td>
      <td><%= article.authors %></td>
      <td class="mobile-optimized"><%= article.section %></td>
      <td><%= article.pretty_date %></td>
      <td>
        <% if logged_in? %>
          <%= form_for [current_user, @saved_article], url: user_saved_articles_path(current_user), html: {method: :update} do |f|%>
            <%= f.hidden_field :abstract, value: article.abstract %>
            <%= f.hidden_field :authors, value: article.authors%>
            <%= f.hidden_field :photo, value: article.photo %>
            <%= f.hidden_field :published_date, value: article.pretty_date %>
            <%= f.hidden_field :section, value: article.section %>
            <%= f.hidden_field :title, value: article.title%>
            <%= f.hidden_field :url, value: article.url %>
            <%= f.button fa_icon("save", text: "Save"), class: "my-btn"%>
          <% end %>
      <% end %>
      </td>
    </tr>
  <% end %>
</table>
