<div class="form-container">
    <div class="user-form">
        <p class="form-title">Register</p>
        <div class="">
            <%= form_for @user do |f| %>
            <div class="field-field">
                <%= f.text_field :username, class:"form-words", "aria-describedby": "username field", placeholder: "Username" %>
            </div>
            <div class="form-field">
                <%= f.password_field :password, class:"form-words", "aria-describedby": "password field", placeholder: "Password" %>
            </div>
            <div class="form-field">
                <%= f.password_field :password_confirmation, required: true, class:"form-words", "aria-describedby": "password confirmation field", placeholder: "Confirm Password" %>
            </div>
            <div class="form-field">
                <%= f.submit "Register", class: "btn btn-success" %>
            </div>
            <% end %>
        </div>
        <div class="">
            <p class="form-bottom-text">Already have an account?</p>
            <%= link_to "Sign In", login_path, class: "register-link" %>
        </div>
    </div>
</div>
