<div class="">
  <nav class="" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">Home</li>
    </ol>
  </nav>
  <div class="card">
    <div class="">
      <p>Search for Articles</p>
    </div>
    <div id="">
      <p>Search Most Viewed Articles by Days</p>
      <%= form_tag popular_path, method: :get do %>
      <%= select_tag :days, options_for_select(day_choices) %>
      <%= submit_tag "Submit" %>
      <% end %>
    </div>
    <div id="">
      <p>Search Top Articles by Topic</p>
      <%= form_tag top_path, method: :get do %>
      <%= select_tag :section, options_for_select(section_choices) %>
      <%= submit_tag "Submit" %>
      <% end %>
    </div>
  </div>\
</div>
